.upload-box {
    width: 90%;
    background-color: transparent;
    height: 200px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    border: 2px dashed #616161;
    font-size: 30px;
}