.settingintro-header {
  display: flex;
  margin-top: 60px;
}

.settingintro-header-left {
  width: 50%;
  margin-left: 3%;
}

.settingintro-title {
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
  color: #6A6A6A;
}
