.wrapper {
  display: grid;
  grid-template-columns: 125px 125px 125px;
  grid-template-rows: 120px 120px;
}
.item {
background-color: white;
border: 1px solid darkblue;
color: white;
text-align: center;
}