.body {
    margin-bottom: 70px;
}

.card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 30px;
}

.card-header {
    display: flex;
    height: 60px;
}

.card-header-left {
    width: 50%;
    display: flex;
}

.card-header-right {
    width: 50%;
    display: inline-block;
}

.share-btn {
    text-align: right;
    line-height: 38px;
    font-size: 20px;
    float: right;
}

.profile-img {
    width: 25%;
    height: 40px;
    border-radius: 100%;
    background-image: url(./권태윤.png);
    background-size: cover;
}

.nickname {
    height: 40px;
    line-height: 38px;
    margin-left: 3%;
    font-weight: bold;
}

.post-image {
    border-radius: 10px;
    width: 90%;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
    background-image: url(./공원1.jpg);
    background-size: cover;
}

.title {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}

.feed-content {
    width: 90%;
    margin: 0 auto;
    margin-top: 7px;
    font-size: 13px;
}

.like-comment {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    /* text-align: right; */
    /* margin-left: 10%; */
    text-align: right;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    margin-right: 3%;
}

.like, .comment{
    margin: 3%;
}

.like:active{
    transform: scale(1.2);
}