.entire-feed {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
    /* text-align: center; */
    margin-left: 5%;
}

.card {
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 30px;
    overflow: hidden;
    width: 97%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-header {
    display: flex;
    height: 60px;
}

.card-header-left {
    width: 50%;
    display: flex;
}

.card-header-right {
    width: 50%;
    display: inline-block;
}

.share-btn {
    text-align: right;
    line-height: 38px;
    font-size: 20px;
    float: right;
}

.profile-img {
    width: 25%;
    border-radius: 100%;
    background-image: url(./권태윤.png);
    background-size: cover;
}

.nickname {
    height: 40px;
    line-height: 40px;
    margin-left: 3%;
}

.comment-nickname {
    height: 30px;
    line-height: 30px;
    margin-left: 3%;
    /* font-weight: bold; */
}

.feed-content {
    width: 90%;
    margin: 0 auto;
    margin-top: 7px;
    font-size: 12px;
    font-weight: light;
    overflow: hidden;
    text-overflow: "string(더보기...)";
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5;
}

.feed-content-open {
    width: 90%;
    margin: 0 auto;
    margin-top: 7px;
    font-size: 12px;
    line-height: 1.5;
}

.like-comment {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3%;
}

.like, .comment{
    margin: 3%;
}

.like:active{
    transform: scale(1.2);
}

.modal {
    width: 90%;
}

.comment-content {
    margin-top: 10px;
    font-size: 12px;
}

.comment-form {
    width: 100%;
    text-align: center;
}

.comment-input {
    width: 100%;
}