.swiper-slide {
    width: 110%;
    overflow: hidden;
    text-align: left;
    line-height: 100%;
}

.filter-box {
    margin-top: 30px;
    margin-left: 3%;
    margin-bottom: 5px;
    font-size: 11px;
    color: #6A6A6A;
    background-color: #CBD9E7;
    display: inline-block;
    padding: 0 10px;
    font-weight: bold;
    border-radius: 20px;
}

.slide {
    /* margin: 0 auto; */
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100px;
}

.imgs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 90%;
}

.img {
    /* background-image: url(./공원1.jpg); */
    background-size: cover;
    width: 100%;
    border-radius: 1px;
    height: 100%;
}

.aNav {
    width: 90%;
    margin: 5px;
}