.img {
    text-align: center;
    background-image: url(./공원1.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    width: 22%;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 90px;
}

.silde-div {
    /* overflow: hidden; */
    background-color: blue;
}