@font-face {
    font-family: "kyobo-font";
    src: url("./font/KyoboHandwriting2021sjy.ttf");
  }

@font-face {
    font-family: "flower-font";
    src: url("./font/꽃소금체.ttf"); 
}

@font-face {
    font-family: "kangwon-font";
    src: url("./font/강원교육새음.ttf"); 
}

@font-face {
    font-family: "kotra-font";
    src: url("./font/KOTRA\ HOPE.ttf"); 
}

@font-face {
    font-family: 'bumsuk-font';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    /* font-weight: normal;
    font-style: normal; */
}

* {
    font-family: "bumsuk-font";
}