@font-face {
    font-family: "kyobo-font";
    src: url("./font/KyoboHandwriting2021sjy.ttf");
  }

@font-face {
    font-family: "flower-font";
    src: url("./font/꽃소금체.ttf"); 
}

@font-face {
    font-family: "kangwon-font";
    src: url("./font/강원교육새음.ttf"); 
}

@font-face {
    font-family: "kotra-font";
    src: url("./font/KOTRA\ HOPE.ttf"); 
}

@font-face {
    font-family: 'bumsuk-font';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    /* font-weight: normal;
    font-style: normal; */
}

@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    /* font-weight: 700; */
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OKDDUNG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKDDUNG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonoplexKR-Italic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTCrownMychewR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/TTCrownMychewR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "kotra-font";
    touch-action: none;
}

.scroll_container{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
    
.scroll_container::-webkit-scrollbar{
    display: none;
    width: 0;  /* Remove scrollbar space */
    height: 0;
    background: transparent;  /* Optional: just make scrollbar invisible */
    -webkit-appearance: none;
}